@* <!-- Active SURVEYS START-->
                <div class="container-xxl py-6">
                    <div class="container">
                        <div class="row g-4">
                            @foreach (var survey in Model.Where(s => !s.IsActive || s.ExpiredDate < DateTime.UtcNow))
                            {
                                <!-- Survey Item 1 -->
                                <div class="col-lg-5 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                                    <div class="card border-0 shadow-sm">
                                        <img class="img-fluid" src="/img/E_0.webp" alt="image_Survey" loading="lazy" style="margin: 10px 10px 10px 10px;">
                                        <div class="card-body" style="background-color: #F9F9F9;margin: 10px 10px 10px 10px;">
                                            <h5 class="card-title">@survey.Title</h5>
                                            <!-- Survey Details -->
                                            <div class="d-flex justify-content-between px-4">
                                                <div class="left text-start"> 
                                                    <p class="mb-2">Questions</p>
                                                    <p class="mb-2">Time</p>
                                                    <p class="mb-2">Status</p>
                                                </div>
                                                <div class="right text-end">
                                                    <p class="mb-2">12</p>
                                                    <p class="mb-2">5 minutes</p>
                                                    <p class="mb-2" style="color: #ff0000;">Expired</p>
                                                </div>
                                            </div>
                                            <div class="text-center">
                                                <p class="mb-2">
                                                        <i class="bi bi-calendar-event me-1 text-primary"></i> 
                                                        @DateTime.Now.ToString("MM/dd/yyyy")
                                                        <span class="mx-2">--</span>
                                                        <i class="bi bi-calendar-x me-1 text-danger"></i> 
                                                        @survey.ExpiredDate.ToString("MM/dd/yyyy")
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- --- -->
                            }
                            
                        </div>
                    </div>
                </div>
        <!-- Active SURVEYS END--> *@