@model IdentityUserModel

@{
    ViewData["Title"] = "Create User";
}

<div class="container">
    <h4 class="page-title text-primary fw-bold text-center">Create Account</h4>
    <form class="shadow p-4 rounded bg-light">
        <form asp-action="Create" method="post">
            <div class="mb-3">
                <label asp-for="UserName" class="form-label">Faculty Name</label>
                <input asp-for="UserName" class="form-control" placeholder="Enter username" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Enter email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="RoleId" class="form-label">Role</label>
                <input asp-for="RoleId" class="form-control" value="Faculty" readonly/>
                <span asp-validation-for="RoleId" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary px-5" style="border-radius: 10px; color: white;">Create</button>
            <a asp-action="Index" class="btn btn-secondary" style="border-radius: 10px; color: white;">Cancel</a>
        </form>
    </form>
</div>