@{
    ViewData["Title"] = "Thank You!";
}

<div class="text-center mt-5">
    <div class="text-center mb-5">
            <h2 class="section-title bg-white text-primary px-3">Thank You for Your Feedback!</h2>
    </div>
    <p>We appreciate your feedback and will review it as soon as possible.</p>
    <p>You will receive a response via email shortly.</p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary mt-3" style="border-radius: 10px;">Return to Home</a>
</div>
