
<div class="mx-0 mx-sm-auto">
    <div >

        <div class="modal-body">

            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="section-title bg-white text-center text-primary px-3">Survey</h6>
                <h1 class="mb-5">Survey Name</h1>
            </div>

            <form class="px-4" action="">
                <p class="fw-bold">1. Choose one or more options</p>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    <label class="form-check-label" for="flexCheckDefault">
                        Option 1
                    </label>
                </div>

                <!-- Checked checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" />
                    <label class="form-check-label" for="flexCheckDefault2">
                        Option 2
                    </label>
                </div>

                <!-- Checked checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" />
                    <label class="form-check-label" for="flexCheckDefault3">
                        Option 3
                    </label>
                </div>

                <p class="fw-bold">1. Choose one or more options</p>

                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example1" />
                    <label class="form-check-label" for="radio3Example1">
                        Very good
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example2" />
                    <label class="form-check-label" for="radio3Example2">
                        Good
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example3" />
                    <label class="form-check-label" for="radio3Example3">
                        Medicore
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example4" />
                    <label class="form-check-label" for="radio3Example4">
                        Bad
                    </label>
                </div>
                <div class="form-check mb-2">
                    <input class="form-check-input" type="radio" name="exampleForm" id="radio3Example5" />
                    <label class="form-check-label" for="radio3Example5">
                        Very bad
                    </label>
                </div>

                <p class="fw-bold">1. Choose one or more options</p>

                <!-- Message input -->
                <div data-mdb-input-init class="form-outline mb-4">
                    <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                </div>
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
