@model IEnumerable<SurveyModel>
<div class="container mt-4">

    <h3 class="mb-4">List Survey</h3>

    <table class="table table-hover table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Survey Title</th>
                <th scope="col">Expired Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
		    {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td><a asp-action="SurveyDetails" asp-route-id="@item.Id">@item.Title</a></td>
                    <td>@item.ExpiredDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>