    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h4 class="section-title bg-white text-center text-primary px-3">Success</h4>
            <h2 class="mb-5">Your survey has been summited! <br />Thank you for your submit</h2>
        <div class="col text-center">
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary px-4"
               style="border-radius: 10px; color: white;">Back to home page</a>
        </div>
        </div>
        <div class="row g-4">
        </div>
    </div>
</div>
