@model IEnumerable<SurveyProject.Models.FAQModel>

@{
    ViewBag.Title = "Frequently Asked Questions";
}

<div class="container mt-5">
    <form class="shadow p-4 rounded bg-light">
        <!-- Header -->
        <app-quickpoll-header-nav-tabs class="container py-4">
            <!-- Header Title -->
            <div class="mb-4">
                <h2 class="page-title text-primary fw-bold">Frequently Asked Questions</h2>
                <p class="page-title-subtitle text-muted">
                    Manage FAQ and add
                </p>
            </div>

            <!-- Navigation Tabs -->
            <div class="events-nav">
                <ul class="nav nav-tabs ">
                    <li class="nav-item">
                        <a asp-action="Create" asp-controller="FAQ">
                            <i class="bi bi-plus-circle me-2"></i> Add new FAQ
                        </a>
                    </li>
                </ul>
            </div>
        </app-quickpoll-header-nav-tabs>    


        <div class="accordion" id="faqAccordion">
            @foreach (var faq in Model)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-@faq.Id">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@faq.Id" aria-expanded="false" aria-controls="collapse-@faq.Id">
                            @faq.Tittle
                        </button>
                    </h2>
                    <div id="collapse-@faq.Id" class="accordion-collapse collapse" aria-labelledby="heading-@faq.Id" data-bs-parent="#faqAccordion">
                        <div class="accordion-body">
                            <p>@faq.Content</p>
                        </div>
                    </div>
                    <div class="accordion-footer">
                        <a asp-action="Edit" asp-controller="FAQ" asp-route-Id="@faq.Id" style="margin-right: 10px;">Edit</a>
                        <a asp-action="Delete" asp-controller="FAQ" asp-route-Id="@faq.Id">Delete</a>
                    </div>
                </div>
            }
        </div>
    </form>
</div>

